#city_Name::after {
    content: "City/Region";
}

#StopWorkSchool_Info::after {
    content: "Status";
}

tr th#Status::after {
    content: "Status";
}

.whole-taiwan::after {
    content: "Whole Taiwan."
}